* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 
body {
   height: 100vh;
   background-color: black;
   background-image: url('images/back.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
}
.container {
   display: grid;
   justify-content: left; 
   align-items: left; 
   height: -10vh;
 }
 

.navbar {
   display: block;
   justify-content: space-around;
   align-items: stretch;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.8);
}
.navbar-brand {
   font-size: 96px;
   color: rgb(247, 240, 240);
   text-decoration: none;
   font-weight:bolder;
}

.links {
   list-style: none;
   display: flex;
}

.links li {
   margin-right: 20px;
}

.links a {
   color: white;
   text-decoration: none;
   font-weight: bold;
}

/* About Me Section */
#about {
   padding: 100px 0;
   text-align: center;
}

#about h1 {
   font-size: 32px;
   margin-bottom: 20px;
   color: rgb(9, 9, 9);
}

#about img {
   max-width: 15%;
   border-radius: 10%;
}

#about h2 {
   color: rgb(16, 16, 16);
   font-size: 87px;
}


/* My Work Section */
#work {
   padding: 100px 0;
   text-align: center;
}

#work h1 {
   font-size: 36px;
   margin-bottom: 20px;
}

.work-item {
   margin: 40px 0;
   padding: 20px;
   border: 2px solid white;
   border-radius: 10px;
}

.work-item img {
   max-width: 25%;
   border-radius: 5px;
}

.work-item p {
   margin-top: 10px;
}

/* Contact Me Section */
#contact {
   padding: 100px 0;
   text-align: center;
}

#contact h1 {
   font-size: 36px;
   margin-bottom: 20px;
}

.name-text p {
   margin-top: 10px;
}

/* Additional Styling for Article */
.article-div p {
   font-size: 18px;
   line-height: 1.5;
}

.name-text p {
   font-size: 24px;
}

/* Jumbotron Styling */
.jumbotron {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 100px 0;
   text-align: center;
}
